# TouchDesigner Virtual Environment Example

This repository is a collection of utilities intended to assist in managing prompt development. Each section below outlines the intention, behavior, configuration, and operation of each utility.

## Required Tools

[uv](https://docs.astral.sh/uv/) - a python package manager

## TouchDesigner Previz Image Generation

Project code can be found at:

`src/td-img-gen-previz/TouchDesigner`

**Requirements**

* Python 3.11

### Setup

Install Python `3.11`  

```pwsh
uv python install 3.11
```

We'll be using a special sub directory as the location for any python virtual environment elements that TouchDesigner will use. In your terminal navigate to `TouchDesigner/ext-python`.  

Create your virtual environment:  

```pwsh
uv venv --python 3.11 
```

Activate the virtual environment

```pwsh
.venv\Scripts\activate
```

Fetch all dependencies

```base
uv pip install -r requirements.txt
```

In order to access the newly added libraries in TouchDesigner we need to add our `ext-python` directory to path. In our TouchDesigner project you'll find a DAT called `startupUtils` that has a few helper methods:

```python
import sys

external_python:str = f"{project.folder}/ext-python/.venv/Lib/site-packages"


def check_path():
    show_path_contents()
    print("\n")

    if external_python not in sys.path:
        print("adding external python to path")
        sys.path.append(external_python)
        print("\n")
        print("updated path contents")
        show_path_contents()
    
def show_path_contents():
    print("current dirs on path -----")
    for each in sys.path:
        print(each)
        
```

These are called by an execute DAT when the project starts and ensures that we can access our libraries in TouchDesigner.

We can test that this has all worked correctly by importing the library we installed in the textport:

![](readme-assets/td-terminal-01.png)

### Operation
